{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block style %}
  <link rel="stylesheet" href="{% static "css/cart.css" %}">
{% endblock style %}
{% block content %}

  <section class="cart">
    <div class="cart__information">
      <ul>

        <li>장바구니 상품은 최대 30일간 저장됩니다.</li>
        <li>가격, 옵션 등 정보가 변경된 경우 주문이 불가할 수 있습니다.</li>
        <li>오늘출발 상품은 판매자 설정 시점에 따라 오늘출발 여부가 변경될 수 있으니 주문 시 꼭 다시 확인해 주시기 바랍니다.</li>
      </ul>
    </div>
    <table class="cart__list">
      <form>
        <thead>
          <tr>
            <td><input type="checkbox"></td>
            <td colspan="2">상품정보</td>
            <td>수량</td>
            <td>상품금액</td>
            <td>배송비</td>
          </tr>
        </thead>
        <tbody>
          {% comment %} {{user.cart.cartitem_set.count}} {% endcomment %}
          {% for cart_item in user.cart.cartitem_set.all %}
            <tr class="cart__list__detail">
              <td><input type="checkbox"></td>
              <td><img class='cart' src="{{cart_item.item.image.url}}" alt="magic keyboard" style="width:250px; height:200px"></td>
              <td>

                <span class="cart__list__smartstore"></span>
                <p>{{cart_item.item.title}}</p>
                <sapn class="price">{{cart_item.item.price}}</sapn>
                <span style="text-decoration: line-through; color: lightgray;">{{cart_item.item.price}}</span>
              </td>
              <td class="cart__list__option">
                <p>{{cart_item.quantity}}개</p>
                <!-- Button trigger modal -->
                <button type="button" class="cart__list__optionbtn" data-bs-toggle="modal" data-bs-target="#exampleModal{{ cart_item.id }}">
                  주문조건 추가/변경
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal{{ cart_item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">주문조건 추가/변경</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="item d-flex justify-content-start mb-3 ms-3">
                          <div class=""><img class='cart' src="{{cart_item.item.image.url}}" alt="magic keyboard" style="width:100px; height:100px"></div>
                          <div class="ms-3">
                            <p>{{cart_item.item.title}}</p>
                            <sapn class="price">{{cart_item.item.price}}원</sapn>
                            <span style="text-decoration: line-through; color: lightgray;">{{cart_item.item.price}}</span> 
                          </div>
                        </div>
                        <hr style="width:90%; margin:0 auto; opacity: 10%;">
                        
                        <div class="container d-flex align-items-center mt-3">
                          <div><label for="readonlyInput" class="">배송방법</label></div>
                          <div class="ms-4 flex-grow-1"><input type="text" class="form-control pointer-events-none" id="readonlyInput" value="택배" readonly></div>
                        </div>
                        <div class="container d-flex align-items-center ">
                         <div><label for="readonlyInput" class="">배송비결제</label></div>
                         <div class="ms-2 flex-grow-1"><input type="text" class="form-control pointer-events-none" id="readonlyInput" value="2,500원 주문시 결제" readonly></div>
                        </div>
                        <span class="text-muted" style="margin-left:100px ;"> 제주 추가 3,000원, 그외 도서지역 추가 5,000원</span>

                        <hr style="width:90%; margin:0 auto; opacity: 10%;">

                        <div class="container d-flex align-items-center mt-3">
                          <div style="width:50px;"><label for="readonlyInput" class="">수량</label></div>
                          
                          <div class="input-group mb-3 ms-5 mt-3">
                            <button class="btn btn-outline-secondary" type="button">-</button>
                            <input id ="quantityInput" type="text" class="text-center" placeholder="" aria-label="Example text with two button addons" style="width: 60px;" value="{{cart_item.quantity}}">
                            <button class="btn btn-outline-secondary" type="button">+</button>
                          </div>
                        </div>
                     
                     
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary">확인</button>
                      </div>
                    </div>
                  </div>
                </div>


              </td>
              <td>
                <span class="price">{{ cart_item.item.price|multiply:cart_item.quantity }}원</span><br>
                <button class="cart__list__orderbtn">주문하기</button>
              </td>
              <td>무료</td>
            </tr>

          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td >
             
            </td>
            <td></td>
            <td colspan="3"> 선택상품금액 + 총 배송비 - 즉시할인예상금액 | 주문금액 147,000원</td>
            <td></td>
          </tr>

          
          <tr>
            <td colspan="3"><input type="checkbox">
              <button class="cart__list__optionbtn">선택상품 삭제</button>
              <button class="cart__list__optionbtn">선택상품 찜</button>
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tfoot>
      </form>
    </table>
    <div class="cart__mainbtns">
      <button class="cart__bigorderbtn left">쇼핑 계속하기</button>
      <button class="cart__bigorderbtn right">주문하기</button>
    </div>
  </section>

{% endblock content %}
{% block script %}
<script src="js/cart_page.js"></script>
{% endblock script %}