{% extends "base.html" %}
{% load static %}
{% block content %}

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">

      <!-- Page Content-->
      <section class="py-5">
        <div class="container px-5 my-5">
          <div class="text-center mb-5">
            <h1 class="fw-bolder">자주 묻는 질문 FAQ</h1>
            <p class="lead fw-normal text-muted mb-0">How can we help you?</p>
          </div>
          <div class="row gx-5">
            <div class="col-xl-8">
              <div class="container p-0 py-5">
                {% comment %} <h5 class="fw-bolder mb-3">자주 묻는 질문 FAQ</h5> {% endcomment %}
                <div class="badge" style="font-size:16px; background-color:#4EBC8D">top 4</div>
                <div class="accordion mb-3" id="accordionExample">
                  <div class="accordion-item ">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        주문한 상품은 언제 배송되나요?
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>도착예정일까지 배송예정 또는 [상품설명] 페이지 내 배송일정 별도 고지</strong><br>
                        <br>
                        도착예정일은 판매자 및 택배사 사정에 따라 변동될 수 있으며,<br>
                        <u>[My Page > 주문내역]</u>에서 해당상품을 조회하여 배송상태와 위치 조회 가능합니다.<br>
                        <br>
                        <u>도착예정일이 노출되지 않는 상품</u>은 [상품설명] 페이지 내 배송일정을 참고 부탁 드리며,<br>
                        [My Page > 주문내역]에서 발송예정일 확인이 가능합니다.<br>
                        <br>
                        <a href="">▶ 구매내역 바로가기</a>

                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        판매자 연락처는 어디서 확인하나요?
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>판매자의 주문확인 후 구매내역에서 판매자 연락처를 확인할 수 있습니다.</strong><br>
                        <br>
                        -
                        <u>[My Page > 주문내역]</u>
                        > '주문 확인/배송 준비' 상품 거래 클릭 > 판매자 정보 - 연락처 확인<br>
                        <br>
                        *앱 채팅 답변이 없는 경우에 연락처로 연락을 해보시기 바랍니다.
                        <br>
                        *주문 확인 전에는 '채팅하기'를 이용해 주세요.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        운송장번호는 확인되는데, 조회가 안돼요!
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        사기 거래 처벌 규정
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>, though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- second accordion-->
                <!-- FAQ Accordion 2-->
                <div class="badge " style="font-size:16px; background-color:#4EBC8D">환불·구매·판매</div>
                <div class="accordion mb-5 mb-xl-0" id="accordionExample2">
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingOne">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="false" aria-controls="collapseOne2">
                        취소요청, 환불요청 버튼이 보이지 않습니다.
                      </button>
                    </h3>
                    <div class="accordion-collapse collapse" id="collapseOne2" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        [배송상품] · [결제 완료] 상태에서는 [구매취소] 버튼을 클릭하면 즉시 취소가 가능합니다.
                        <br>
                        · [상품 준비중] 상태에서는 판매자가 주문서를 확인한 상태로 즉시 취소가 어려우며,<br>
                        [취소요청] 버튼을 클릭하여 '출고 전 취소 요청' 으로 접수하실 수 있습니다.<br>
                        <br>
                        접수 이후 판매자가 상품 준비 단계에 따라 취소 승인 또는 거절처리 될 수 있습니다.<br>
                        <br>
                        · [배송준비중] 상태부터는 환불요청으로 접수해 주셔야 합니다.<br>
                        <br>
                        환불요청은 배송 완료일로부터 7일까지 마이티몬에서 접수가 가능합니다.<br>
                        <br>
                        · 상품 별 환불 가능한 기간과 방법이 상이하오니, [상품설명] 페이지를 반드시 확인해 주시기 바랍니다.
                        <br>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingTwo">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                        배송상품 환불접수는 어떻게 하나요?
                      </button>
                    </h3>
                    <div class="accordion-collapse collapse" id="collapseTwo2" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <strong>This is the second item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h3 class="accordion-header" id="headingThree">
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                        환불요청 취소(철회)는 어떻게 하나요?
                      </button>
                    </h3>
                    <div class="accordion-collapse collapse" id="collapseThree2" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                      <div class="accordion-body">
                        <strong>This is the third item's accordion body.</strong>
                        It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the
                        <code>.accordion-body</code>
                        , though the transition does limit overflow.
                      </div>
                    </div>
                  </div>
                </div>
                <!-- accordion finish-->
                <!-- more help -->
               
              </div>

            </div>

            <div class="col-xl-4">
              <div class="card border-0 bg-light mt-xl-5">
                <div class="card-body p-4 py-lg-5">
                  <div class="d-flex align-items-center justify-content-center">
                    <div class="text-center">
                      <div class="h6 fw-bolder">찾으시는 질문이 없으신가요?</div>

                      <i class="fa-regular fa-hand-point-right"></i> <a class="btn btn-light border" href="{% url "blog:qna" %}">질문하러가기</a>
                      <br>
                      <br>
                      또는
                      <br>
                      <br>
                      <p class="text-muted mb-4">
                        Contact us at
                        <br/>
                        <a href="#!">support@peach.com</a>
                      </p>
                      <div class="h6 fw-bolder">Follow us</div>
                      <a class="fs-5 px-2 link-dark" href="#!">
                        <i class="bi-twitter"></i>
                      </a>
                      <a class="fs-5 px-2 link-dark" href="#!">
                        <i class="bi-facebook"></i>
                      </a>
                      <a class="fs-5 px-2 link-dark" href="#!">
                        <i class="bi-linkedin"></i>
                      </a>
                      <a class="fs-5 px-2 link-dark" href="#!">
                        <i class="bi-youtube"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>
    </main>
  {% endblock content %}
