{% extends "base.html" %}
{% load static humanize %}
{% block style %}
  <link rel="stylesheet" href="{% static "css/index.css" %}">
{% endblock style %}

{% block header %}
  <!-- Header-->
  <header class="bg-dark py-5">

    <!-- carousel-->
    {% include "blog/carousel.html" %}
  </header>

{% endblock header %}

{% block content %}

  <!-- Blog preview section-->
  <section class="py-5">
    <div class="container px-5 my-5">
      <div class="row gx-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
          <div class="text-center">
            <h2 class="fw-bolder">추천 상품</h2>
            <p class="lead fw-normal text-muted mb-5">지금 인기있는 상품들을 확인하세요!</p>
          </div>
        </div>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7">
        <a href="{% url "blog:item_register" %}" class="btn btn-success">상품 등록</a>
      </div>
      <!-- card container -->
      <div class="row gx-5">
        <!-- card-->
        {% for item in items %}
          <div class="col-lg-4 mb-5">
            <div class="card h-100 shadow border-0">
              <img class="card-img-top img-fluid" style="height: 300px;" src="{{item.image.url}}" alt="..."/>
              <div class="card-body p-4 ">
                <div class="badge bg-primary bg-gradient rounded-pill mb-2 ">New</div>
                <a class="text-decoration-none link-dark stretched-link" href="{% url "blog:item_detail" item.id %}">
                  <h5 class="card-title mb-3 fw-bold">{{item.price}}
                    원</h5>
                </a>
                <p class="card-text mb-0 ">{{item.title}}</p>
              </div>
              <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                <div class="d-flex align-items-end justify-content-between">
                  <div class="d-flex align-items-center">
                    <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..."/>
                    <div class="small">
                      <div class="fw-bold">{{item.author.name}}</div>
                      <div class="text-muted time" >{{item.created_at|naturaltime}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>


<!-- 페이징 처리 paginator.page_range : 페이지 범위 -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    {% if items.has_previous %}
      <li class="page-item">
        <a class="page-link" href="{{items.previous_page_number}}" aria-label="Previous">
          previous
        </a>
      </li>
    {% endif %}
    {% for page in items.paginator.page_range %}
      {% if page >= items.number|add:-5 and page <= items.number|add:5%}
        <li class="page-item {% if page == items.number %}active{% endif %}">
          <a class="page-link" href="{{page}}">{{page}}</a>
        </li>
      {% endif %}
    {% endfor %}
    {% if items.has_next %}
      <li class="page-item">
        <a class="page-link" href="{{items.next_page_number}}" aria-label="Next">
          next
        </a>
      </li>
    {% endif %}
  </ul>
</nav>

      <!-- qna 아이콘 넣기!!!!-->
      <!-- qna fixed position-->
      <a href="{% url "blog:qna" %}" id="Fixed"><img src="{% static "img/peach_qna.png" %}" alt="" id="Fixed_img"></a>

      <!-- Call to action-->
      <aside class=" bg-gradient rounded-3 p-4 p-sm-5 mt-5" style="background-color:#FFDDDD">
        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
          <div class="mb-4 mb-xl-0">
            <div class="fs-3 fw-bold ">지금 바로 여러분의 물건을 사고 팔아보세요!</div>
            <div class="text-white-50">회원가입 페이지로 이동</div>
          </div>
          <div class="ms-xl-4">
            <div class="input-group mb-2">
              <input class="form-control" type="text" placeholder="Email address..." aria-label="Email address..." aria-describedby="button-newsletter"/>
              <button class="btn btn-outline-light" id="button-newsletter" type="button">Sign up</button>
            </div>
            <div class="small text-white-50">We care about privacy, and will never share your data.</div>
          </div>
        </div>
      </aside>
    </div>
  </section>
</main>
{% endblock content %}
{% block script %}
{% comment %} $(document).ready(function(){ $('#myCarousel').carousel({ interval: 1000 // 3초 간격으로 슬라이딩 설정 }); }); {% endcomment %}


<script src="{% static "js/index.js" %}"></script>
 

{% endblock script %}