{% extends "base.html" %}
{% block title %}상품등록{% endblock title %}
{% block content %}
  {% include "errors.html" %}
  <div class="container col-lg-6 border p-3 ">
    <div class="row mb-3 ">
      <div class="col d-flex justify-content-center align-items-center">
        <a href="" class = "justify-content-center  d-flex align-items-center">
          <img src="https://www.instagram.com/static/images/web/logged_out_wordmark.png/7a252de00b20.png" alt="" class="mx-auto my-auto d-block">
        </a>
      </div>
    </div>
    <form action="" method="post">
      {% csrf_token %}
      <div class="mb-3 row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" value="{{form.title.value|default_if_none:''}}" name="title">
        </div>
      </div>
      {% comment %} <div class="mb-3 row">
        <label for="author" class="col-sm-2 col-form-label">Author</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="author" name="author" value="{{form.author.value|default_if_none:''}}">
        </div>
      </div> {% endcomment %}
      <div class="mb-3 row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input type="file" class="form-control" id="image" name="image" value="{{form.image.value|default_if_none:''}}">
        </div>
      </div>
      <div class=" mb-3 row">
        <label for="content" class="col-sm-2 col-form-label">Description</label>
        <div class="col-sm-10">
          <textarea name="content" id="content" rows="10" class="form-control">{{form.content.value|default_if_none:''}}</textarea>
        </div>
      </div>
      <div class="mb-3 row">
        <label for="price" class="col-sm-2 col-form-label">Price</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="price" name="price" value="{{form.price.value|default_if_none:''}}">
        </div>
      </div>
      <div class="mb-3 row">
        <button type="submit" class="btn btn-success">저장</button>
      </div>
    </form>
  </div>

{% endblock content %}
